{% extends 'layout.html' %}
{% load static %}

{% block sidebar %}
{% if type_user == 'manager' %}
    <div class="select_item">
        <ul class="list_sidebar">
            <a href="{% url 'manager:principal_page' %}">
                <li class="item_sidebar">
                    Inicio
                </li>
            </a>
            <a href="{% url 'manager:workers' %}">
                <li class="item_sidebar">
                    Trabajadores
                </li>
            </a>
            <a href="{% url 'manager:clients' %}">
                <li class="item_sidebar">
                    Clientes
                </li>
            </a>
        </ul>
        <div class="ticket_sidebar">
            <a href="{% url 'startapp:ticket' 'manager' %}" style="color: blue; text-decoration: underline;">
                Ticket
            </a>
        </div>
    </div>
{% elif type_user == 'callcenter' %}
    <div class="select_item">
        <ul class="list_sidebar">
            <a href="{% url 'callcenter:index' %}">
                <li class="item_sidebar" style="color: blue; text-decoration: underline;">
                    Administrar clientes
                </li>
            </a>
            <a href="{% url 'callcenter:create_client' %}">
                <li class="item_sidebar">
                    Crear un pedido
                </li>
            </a>
        </ul>
        <div class="ticket_sidebar">
            <a href="{% url 'startapp:ticket' 'callcenter' %}" style="color: blue; text-decoration: underline;">
                Ticket
            </a>
        </div>
    </div>
{% elif type_user == 'tecnic' %}
    <div class="select_item">
        <ul class="list_sidebar">
            <a href="{% url 'tecnic:intro' %}">
                <li class="item_sidebar">
                    Inicio
                </li>
            </a>
            <a href="{% url 'tecnic:configuration' %}">
                <li class="item_sidebar">
                    Configuración
                </li>
            </a>
            <a href="{% url 'startapp:ticket' 'tecnic' %}">
                <li class="item_sidebar"  style="color: blue; text-decoration: underline;">
                    Ticket
                </li>
            </a>
            <li>Clientes</li>
            {% for client in  tecnic.clients.all %}
            <a href="{% url 'tecnic:client' client.id %}">
                <li class="item_sidebar">
                    {{ client.username }} - {{ client.identity }}
                </li>
            </a>
            {% endfor %}
        </ul>
    </div>
{% else %}
    <div class="select_item">
        <div class="ticket_sidebar">
            <a href="{% url 'startapp:ticket' 'client' %}" style="color: blue; text-decoration: underline;">
                Ticket
            </a>
        </div>
    </div>
{% endif %}
{% endblock %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data">
{% csrf_token %}
    <div class="container text-center body_form">
        <div class="row">
            <div class="col">
                <h3 class="principal_text">Crear Ticket</h3>
                <div class="container_create">
                    <div class="input_info">
                        <label for="email">Correo Electronico</label>
                        <input type="text" name="email" id="email" class="form-control" value="{{ user.email }}" required>
                    </div>

                    <div class="input_info">
                        <label for="worker_type">Selecciona el tipo de problema</label>
                        <select name="worker_type" id="worker_type" class="select_worker">
                            {% for problem in problems %}
                            <option value="{{ problem.id }}">
                                {{ problem.title_description }} - {{ problem.description }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="input_info">
                        <label for="description">Describa el problema</label>
                        <textarea name="" id="description" cols="30" rows="10"></textarea>
                    </div>
                </div>
            </div>
            <div class="col">
                <h3 class="principal_text">Comprobantes</h3>
                <div class="container_create">
                    <div class="input_info">
                        <label for="image">Subir una foto del problema</label>
                        <input type="file" name="image" id="image" class="form-control" required onchange="previewImage(this)">

                        <div id="imagePreview">
                            <img id="preview" src="" alt="Vista previa de la imagen">
                        </div>
                    </div>
                    <div class="input_info">
                        <button type="submit" class="btn btn-success">Enviar Ticket</button>
                    </div>
                </div>
                {% if message %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
                {% endif %}

                {% if success %}
                <div class="alert alert-success" role="alert">
                    {{ success }}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</form>
{% endblock %}