{% extends 'layout.html' %}
{% load static %}

{% block sidebar %}
<div class="select_item">
    <ul class="list_sidebar">
        <a href="{% url 'callcenter:index' %}">
            <li class="item_sidebar" style="color: blue; text-decoration: underline;">
                Administrar clientes
            </li>
        </a>
        <a href="{% url 'callcenter:create_client' %}">
            <li class="item_sidebar">
                Crear un pedido
            </li>
        </a>
    </ul>
    <div class="ticket_sidebar">
        <a href="{% url 'startapp:ticket' 'callcenter' %}">
            Ticket
        </a>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="body_form">
    {% if messages %}
    <div class="alert alert-danger" role="alert">
        {{ messages }}
    </div>
    {% endif %}

    {% if success %}
    <div class="alert alert-success" role="alert">
        {{ success }}
    </div>
    {% endif %}

    <div class="search_information">
        <div class="box_finding">
            <label for="inpSearch1">Filtrar por cédula:</label><br>
            <input type="text" id="inpSearch1" name="inpSearch1" placeholder="Ingresar el código">
        </div>
        <div class="box_finding">
            <label for="inpSearch2">Filtrar por celular:</label><br>
            <input type="text" id="inpSearch2" name="inpSearch2" placeholder="Ingresar el código">
        </div>
    </div>
    <table class="table table-dark table-bordered caption-top" id="searchtable_callcenters">
        <caption style="color: white;">Lista de clientes</caption>
        <thead>
            <tr>
                <th scope="col">Usuario</th>
                <th scope="col">Cédula/RUC/Passaporte</th>
                <th scope="col">Celular</th>
                <th scope="col">Día de instalación</th>
                <th scope="col">Manaña/Tarde</th>
                <th scope="col">Estado de la instalación</th>
                <th scope="col">Fue aceptado por manager</th>
                <th scope="col">Regocer/Delivery</th>
                <th scope="col">Imagen de recibo</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
            <tr class="searchable">
                <td>{{ client.username }}</td>
                <td>{{ client.identity }}</td>
                <td>{{ client.phone }}</td>
                <td>{{ client.date_instalation }}</td>
                <td>{{ client.part_of_day }}</td>
                <td>{{ client.status_instalation }}</td>
                <td>{{ client.is_accepted_by_manager }}</td>
                <td>{{ client.options_to_give_instalation }}</td>
                <td><img src="{{ client.photo_reciept.url }}" alt="Foto" width="100" height="100"></td>
                <td class="actions-buttons">
                    <button class="btn btn-info" onclick="editClient('{{ client.id }}')">Editar pedido</button>
                    <a href="{% url 'callcenter:delete_client' client.id %}" class="btn btn-danger">Eliminar pedido</a>
                    <br>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<form action="{% url 'callcenter:update_client' %}" method="post">
    {% csrf_token %}
    <div class="background" id="background">
        <div class="edit_container" id="edit_container">
            
        </div>
    </div>
</form>
{% endblock %}